body {
    margin: 0px;
}

.showUsers tr, #kompaniTable tr, #peletongTable tr {
    text-align: center;
}

.showUsers th, #kompaniTable th, #peletongTable th  {
    padding: 10px 10px 10px 10px;
}

.showUsers{
    margin-left: 10px
}

.showUsers, label {
    margin-left: 10px
}

h2 {
    font-size: 40px;
    margin-left: 10px
}

.showUsers select{
    margin-left: 10px
}

.addKompani, .addPeletong{
    margin-left: 20px;
}

h3{
    font-size: 40px;
}

.loginForm p, .createForm p{
    color: red;
}

.addPeletong form {
    margin-top: 15px;
    margin-bottom: 15px;
}


#errorMessageKompani, #errorMessagePeletong {
    color: red;
    font-size: 13px;
    margin-left: 10px;
}

#addKompaniButton {
    margin-left: 10px;
    margin-top: 10px;
}

#addPeletongButton {
    margin-left: 10px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    color: white;
    background-color: black

}

.nav-bar button{
   padding: 10px 20px 10px 20px ;
   color: white;
   background-color: gray;
   border-radius: 5px;
   border: 0px solid;
   background-color: transparent;
   cursor: pointer;
   font-size: 20px;
}