body {
    margin: 0px;
}

.showUsers tr, #kompaniTable tr, #peletongTable tr {
    font-size: 20px;
}

.showUsers th, #kompaniTable th, #peletongTable th  {
    padding: 10px 10px 10px 10px;
}
.top {
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-height: 43vh;
    overflow: auto;
}

.filters .search {
    margin-bottom: 16px;
}

.filters label {
    font-weight: bolder;
}

.filters input {
    border-radius: 5px;
    background-color: #121212;
    border: 1px solid white;
    color: white;
}

.filters select {
    border-radius: 5px;
    background-color: #121212;
    border: 0px solid;
    color: white;
    margin: 5px;
}

h2 {
    font-size: 40px;
    margin: 0px;
}


.addKompani, .addPeletong{
    margin-left: 20px;
}

.showUsers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.showUsers table {
    margin: auto;
}

h3{
    font-size: 40px;
}

.loginForm p, .createForm p{
    color: red;
}

.addPeletong form {
    margin-top: 15px;
    margin-bottom: 15px;
}


#errorMessageKompani, #errorMessagePeletong, #errorMessagePeletongRemove, #errorMessageKompaniRemove {
    color: red;
    font-size: 13px;
    margin-left: 10px;
}

#addKompaniButton {
    margin-left: 10px;
    margin-top: 10px;
}

#addPeletongButton, #errorMessageKompaniRemove {
    margin-left: 10px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    margin: 0px;
    height: 7vh;
    color: white;
    background-color: black

}

.nav-bar button{
   padding: 10px 20px 10px 20px ;
   color: white;
   background-color: gray;
   border-radius: 5px;
   border: 0px solid;
   background-color: transparent;
   cursor: pointer;
   font-size: 20px;
}

.bottom{
    display: flex;
    justify-content: center;
    color: white; 
    height: 43vh;
}

.bottom .addKompani, .bottom .addPeletong{
    background-color: black;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    margin-top: 20px;  
    overflow: auto;
}

th {
    text-align: center;
}

.addKompani td, .addPeletong td {
    text-align: center;
}

.addKompani input, .addPeletong input {
    border-radius: 5px;
    background-color: #121212;
    border: 1px solid white;
    color: white;
}

.addKompani select, .addPeletong select {
    border-radius: 5px;
    background-color: #121212;
    border: 0px solid;
    color: white;
    margin: 5px;
}

.addKompani button, .addPeletong button {
    border-radius: 5px;
    background-color: #121212;
    border: 0px solid;
    color: white;
    padding: 10px 20px 10px 20px;
}   


.top button {
    border-radius: 5px;
    background-color: #121212;
    border: 0px solid;
    color: white;
    padding: 10px 20px 10px 20px;

}